.container {
  border: 1px solid black;
  padding: 1rem;
  width: 70rem;
  height: 21rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}